html {
    box-sizing: border-box;
    height: 100%;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  :root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Rubik", sans-serif;
  }
  .container{
    max-width: 1393px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 24px;
    padding-left: 24px;
  }
  body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0; 
  }
  a{
    text-decoration: none;
    display: inline-block;
  }